@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 1500px;
}
.border {
    border: 1px solid #bbbbbb;
}

.leftSideBar {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    background-color: #2e2439;
    height: 100%;
    width: 16%;
}

.center {
    text-align: center;
}

.rightSideBar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 84%;
    background-color: #322741;
    padding-left: 50px;
    padding-right: 50px;
}

.leftlinks a:hover {
    color: #f0f0f0;
}
.leftlinks {
    color: #ffffff;
    margin-left: 40px;
    align-self: flex-start;
}

.leftlinks a {
    color: #ffffff;
    text-decoration: none;
}
.leftSideBarItems {
    margin: 10px 0px;
    color: #ffffff;
}

.listingButtons {
    font-size: 14px;
    color: #ffffff;
    width: 120px;
    text-align: center;
    background-color: #678CA2;    
    padding: 5px;
    border-radius: 3px;
    height: 30px;
}

.listingButtonsActive {
    font-size: 14px;
    color: #ffffff;
    width: 120px;
    text-align: center;
    background-color: #659B5E;    
    padding: 5px;
    border-radius: 3px;
    height: 30px;
}

.buttonHeader{
    height: 5%;
}

.addButton{
    color: #678CA2;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.addButton:hover {
    color: #659B5E;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  .contactIcon{
    color: #659B5E;    
  }